<%= bootstrap_form_for(@local) do |f| %>
  <% if local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(local.errors.count, "Campo mal llenado") %> no se pudo guardar:</h2>

      <ul>
      <% local.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <%= puts "----ALFREDO: #{@local.inspect}----" %>
  <%= f.text_field :nombre, label: "Nombre del local:" %>
  <%= f.text_field :direccion, label: "Direccion del local:" %>
  <%= f.text_field :telefono, label: "Telefono del local:" %>
  <%= f.text_field :mail, label: "Mail del local:" %>
  <%= f.text_field :descripcion, label: "Desscripcion del local:" %>
  <%= f.text_field :adminustrador , label: "Usuario:", value: current_user.email, readonly:true %>
  <%= f.submit "Guardar Cambios", class: "btn btn-success" %>
  <%= link_to 'Cancelar', locals_path, class:"btn btn-danger"  %>
<% end %>
