<%= bootstrap_form_for(@reserf) do |f| %>
    <% if reserf.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

          <ul>
            <% reserf.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.date_select :fecha_inicio, label: "Fecha de inicio:" %>
    <%= f.time_select :hora_inicio, label: "Hora de inicio:" %>
    <%= f.text_field :descripcion, label: "Descripción:" %>
    <%= f.collection_select :user_id, User.where(:id => current_user.id).all, :id, :email, :disabled => true, label: "Usuario:" %>

    <!-- %= f.collection_select :local_id, Local.all, :id, :nombre, include_blank: true,label: "Local:" % -->

    <%= f.grouped_collection_select :room_id, Local.all, :room, :nombre, :id, :nombre, include_blank: true, label: "Sala:" %>

    <%= f.submit 'Guardar', :class => 'btn btn-primary'%>

    <% if current_user.role == 'admin' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reserves_path, :class => 'btn btn-default' %>
    <% end %>
<% end %>