<h1>Nueva Reserva</h1>

<%= bootstrap_form_for(new_reserf_path) do |f| %>

    <%= f.date_select :fecha_inicio, label: "Fecha de inicio:" %>
    <%= f.time_select :hora_inicio, label: "Hora de inicio:" %>
    <%= f.text_field :descripcion %>
    <%= f.collection_select :user_id, User.where(:id => current_user.id).all, :id, :email, :disabled => true, label: "Usuario:" %>

    <%= f.collection_select :local_id, Local.all, :id, :nombre, label: "Local:" %>

    <%= f.collection_select :room_id, Room.where(:local_id => 3).all, :id, :nombre, label: "Sala:" %>

    <%= f.submit 'Guardar', :class => 'btn btn-primary'%>

<% end %>