
<h1>Productos</h1>
<h1><%= @q %></h1>
<% puts "DEBUG --------------> #{@Current_user.inspect}" %>
<% puts "DEBUG --------------> #{@products.find_by_local_id(7).inspect}" %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form class="form-horizontal">
            <fieldset>
            <div class="form-group">
              <label class="col-md-12 control-label" for="selectbasic" >Seleccionar Local:</label>
              <div class="col-md-12">
                <select id="selectbasic" name="selectbasic" class="form-control" onchange="script">
                  <% @locals.each do |local| %>  
                    <option value="1">
                        <%= local.nombre %>
                    </option>
                  <% end %>
                </select>
              </div>
            </div>
            </fieldset>
            </form>
        </div>
        <div class="col-md-9">
        <div class="table-responsive">
         <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Nombre de Producto</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @products.each do |product| %>
                        <tr>
                            <%if product.local_id==1%>
                              <td><%= product.id %></td>
                              <td><%= product.nombre %></td>
                              <td><%= product.tipo %></td>
                              <td><%= product.precio %></td>
                              <td><%= product.disponibilidad %></td>
                              <td>
                                <div class="btn">
                                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Seleccionar</a></p>
                                </div>
                              </td>
                            <% end %> 
                        </tr>
                    <% end %>                              
                    </tbody>
                </table>   
        </div>
        </div>
    </div>
</div>


    <br>
<br>
<br>
<br>

   <h3>Detalle de Pedido</h3>
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre Producto</th>
                        <th>Precio</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Product name</a></h4>                              
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td class="col-md-6">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Product name</a></h4>
                            </div>
                        </div></td>
                        <td class="col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                        </td>
                        <td class="col-md-1 text-center"><strong>$4.99</strong></td>
                        <td class="col-md-1 text-center"><strong>$9.98</strong></td>
                        <td class="col-md-1">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
 
        </div>
      