<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="panel panel-success" >
      <div class="panel-heading">
        <div class="panel-title">Editar Usuario</div>
      </div>

      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal', method: :put }) do |f| %>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-5">
                <%= f.email_field :email, placeholder: "Escribe tu correo electronico", class: "form-control input-md", required:"",  disabled:true %>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="nombre">Nombres</label>
              <div class="col-md-5">
                <%= f.text_field :nombre, autofocus: true, placeholder: "Escribe tus Nombres", class: "form-control input-md", required:"" %>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="apellido_paterno">Apellido Paterno</label>
              <div class="col-md-5">
                <%= f.text_field :apellido_paterno, placeholder: "Escribe tu Apellido Paterno", class: "form-control input-md", required:"" %>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="apellido_materno">Apellido Materno</label>
              <div class="col-md-5">
                <%= f.text_field :apellido_materno, placeholder: "Escribe tu Apellido Materno", class: "form-control input-md", required:"" %>
              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="genero">Genero</label>
              <div class="col-md-5">
                <select id="genero" name="genero" class="form-control">
                  <option value="true">Masculino</option>
                  <option value="false">Femenino</option>
                </select>
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group has-error">
              <label class="col-md-4 control-label" for="password_confirmation">Contraseña Actual</label>
              <div class="col-md-5">
                <span class="help-block">Para poder guardar los cambios efectuados es necesario ingresar la contraseña actual</span>
                <%= f.password_field :current_password, autocomplete: "off", placeholder:"Escribe tu contraseña actual", class:"form-control input-md", required:"" %>
              </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="btn_guardar"></label>
              <div class="col-md-8">
                <%= f.submit "Actualizar Datos", class:"btn btn-success" %>
                <%= link_to 'Cancelar', home_path , class:"btn btn-danger"  %>
              </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


<%= devise_error_messages! %>


