<%= bootstrap_form_for(@comment, label_errors: true) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <ul>
      <li><%= pluralize(comment.errors.count, "Campo mal llenado") %> no se pudo guardar:</li>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.collection_select :room_id, Room.all, :id, :nombre, label: "Sala:" %>
    <%= f.text_field :usuario , label: "Usuario:"%>
    <%= f.text_field :descripcion, label: "Descripción:" %>
    <%= f.select :valoracion, [['Muy Malo', 1], ['Malo', 2], ['Regular', 3], ['Bueno', 4], ['Muy Bueno', 5]], label: "Valorar:" %>
    <%= f.submit "Crear Comentario", class: "btn btn-success" %>
<% end %>