
<div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title"><%= @room.nombre %></h3>
      <div class="pull-right">
          <%= link_to(new_comment_path) do %>
              <p data-placement="top" data-toggle="tooltip" title="New">
                <button class="btn btn-sm btn-primary btn-create" data-title="New" data-toggle="modal">
                  <span class="glyphicon glyphicon-plus"></span> Nuevo Comentario
                </button>
              </p>
          <% end %>
          <span id="notice" class="alert"><%= notice %></span>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">

      <table id='comments' class="display" cellspacing="0" width="100%">
        <thead>
          <tr >
            <th>#</th>
            <th>Sala</th>
            <th>Usuario</th>
            <th>Descripción</th>
            <th>Valoracion</th>
          </tr>
        </thead>

        <tbody>
        <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.id %></td>
              <td><%= comment.room.nombre %></td>
              <td><%= comment.usuario %></td>
              <td><%= comment.descripcion %></td>
              <td><%= comment.valoracion %></td>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>



