<header class="main-header">

    <!-- Logo -->
    <a href="/app/assets/images" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>KAR</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>KARAOKE</b></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>


      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown user user-menu">

            <%= link_to edit_user_registration_path, :class => "dropdown-toggle" do %>
                <%= image_tag("user2-160x160.jpg", :alt => "User Image", :class => "user-image") %>
                <span class="hidden-xs"><%= current_user.nombre %> <%= current_user.apellido_paterno %></span>
            <% end %>

          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <%= link_to '<i class="fa fa-sign-out"></i>Logout'.html_safe, destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </li>
        </ul>
      </div>

    </nav>
  </header>
