<%= bootstrap_form_for(@event) do |f| %>
    <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "Campo con informacion incorrecta") %> no se puede guardar este evento:</h2>

          <ul>
            <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.text_field :Nombre_de_evento, label: "Nombre:" %>
    <%= f.datetime_select :Fecha_y_hora, label: "Fecha y Hora:" %>
    <%= f.number_field :Capacidad_maxima, label: "Capacidad Maxima:" %>
    <%= f.text_field :Descripcion, label: "Descripcion:" %>
    <%= f.collection_select :local_id, Local.all, :id, :nombre, label: "Local:", :prompt => true %>
    <%= f.submit "Guardar Cambios", class: "btn btn-success" %>
    <%= link_to 'Cancelar', locals_path, class:"btn btn-danger"  %>
<% end %>