<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user.nombre %> <%= @request.user.apellido_paterno %> <%= @request.user.apellido_materno %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
