
<h1>Productos</h1>
<h1><%= @q %></h1>



<label  for="selectbasic" >Seleccionar Local:</label>
<select id="selectbasic" name="selectbasic" class="form-control" onchange="this.form.submit()">
  <% @local.each do |local| %>  
    <option value="1">
        <%= local.nombre %>
    </option>
  <% end %>
</select>

<%= bootstrap_form_for(@detailRequestProduct) do |f| %>
  <%= f.text_field :request_id, label: "N° Pedido:", value: @id_pedido, :readonly => true %>
  <%= f.collection_select :product_id, Product.all, :id, :nombre, label: "Seleccione Producto:" %>
  <%= f.text_field :cantidad, label: "Ingrese Cantidad:" %>
  <%= f.submit "Hacer pedido", class: "btn btn-success" %>
<% end %>
    <br>
<br>
<br>
<br>
