<%= bootstrap_form_for(@room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "Campo con informacion incorrecta") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :nombre, label: "Nombre del local:" %>
  <%= f.text_field :capacidad, label: "Direccion del local:" %>
  <%= f.text_field :descripcion, label: "Descripcion del local:" %>
  <%= f.collection_select :local_id, Local.all, :id, :nombre, label: "Local:" %>
  <%= f.submit "Guardar Cambios", class: "btn btn-success" %>
  <%= link_to 'Cancelar', locals_path, class:"btn btn-danger"  %>
<% end %>
