<div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Salas</h3>
      <div class="pull-right">
          <%= link_to(new_room_path) do %>
              <p data-placement="top" data-toggle="tooltip" title="New">
                <button class="btn btn-sm btn-primary btn-create" data-title="New" data-toggle="modal">
                  <span class="glyphicon glyphicon-plus"></span> Nueva Sala
                </button>
              </p>
          <% end %>
          <span id="notice" class="alert"><%= notice %></span>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">

     <% if current_user.role == 'admin' %>
      <table id='rooms' class="display" cellspacing="0" width="100%">
        <thead>
          <tr >
            <th>#</th>
            <th>Nombre</th>
            <th>Capacidad</th>
            <th>Descripción</th>
            <th>Local</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
        <% @rooms.each do |room| %>
            <tr>
              <td><%= room.id %></td>
              <td><%= room.nombre %></td>
              <td><%= room.capacidad %></td>
              <td><%= room.descripcion %></td>
              <td><%= room.local.nombre %></td>
              <td align="center">
                <%= link_to(edit_room_path(room)) do %>
                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                      <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" >
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                    </p>
                <% end %>
              </td>
              <td align="center">
                <%= link_to(room, method: :delete ) do %>
                    <p data-placement="top" data-toggle="tooltip" title="Delete" >
                      <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" >
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </p>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <% else %>
          <table id='rooms' class="display" cellspacing="0" width="100%">
            <thead>
            <tr >
              <th>#</th>
              <th>Nombre</th>
              <th>Capacidad</th>
              <th>Descripción</th>
              <th>Local</th>
              <th>Ver comentarios</th>
            </tr>
            </thead>

            <tbody>
            <% @rooms.each do |room| %>
                <tr>
                  <td><%= room.id %></td>
                  <td><%= room.nombre %></td>
                  <td><%= room.capacidad %></td>
                  <td><%= room.descripcion %></td>
                  <td><%= room.local.nombre %></td>
                  <td align="center">
                    <%= link_to(comentarios_path(room)) do %>
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                          <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" >
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </p>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
    <!-- /.box-body -->
  </div>
