<p id="notice"><%= notice %></p>

<p>
  <strong>Local:</strong>
  <%= @sala.Local %>
</p>

<p>
  <strong>Nombre sala:</strong>
  <%= @sala.Nombre_Sala %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @sala.Capacidad %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @sala.Descripcion %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
